html, body {
  margin: 0px;
  padding: 0px;
}
section{
}
.bg-black{
  background-color: #000;
}
.black{
  color: #000;
}
.white{
  color: #fff;
}
button{
  padding: 1em;
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
}

button:hover{
  color: #000;
  background-color: #fff;
}

input[type="text"]{
  padding: 1em;
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
}
input[type="text"]:focus{
  padding: 1em;
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
}
canvas {
  display: block;
  margin-left:-40px;
}


.form-group {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}

.btn {

}

.form-control {
	max-width: 200px;
}
.sketch{}
.sketch canvas{
  width: 50%;
}
#user-sketch-container canvas{
  /* width: 50% !important; */
  margin: 0 auto !important;
}
.how-to-use-note{
  margin-top: 10em;
}
.how-to-use-note img{
  width: 100px !important;
}
.header-end{
  border-bottom: 1px solid #222;
}

footer{
  border-top: 1px solid #222;
}
